<div class="relative flex flex-col items-center justify-around h-screen text-center">

    <img src="/assets/right.svg" alt="2SV Top Right" class="absolute top-0 right-0 w-[150px] h-[200px]">

    <div class="flex items-center justify-center ">
      <img src="../../../assets/honey.svg" alt="Logo" class="w-[350px]">
      <!-- <h1 class="text-9xl font-normal italic text-primary">Honey</h1> -->
    </div>

    <div class="flex justify-center items-center w-[55%]">
      <p class="text-[#776338] text-4xl font-semibold ">Bee in Love with Honey: Where Every Connection is Sweet</p>
      <img src="/assets/bee2.svg" alt="" class=" w-[250px] h-[120px]">
    </div>

    <div class="p-7 border border-[#F8EEB6] shadow-2xl rounded-[25px] h-[450px] w-[610px] mb-3 
                 flex flex-col items-center space-y-5">

        <form [formGroup]="newPasswordForm" (ngSubmit)="onNewPassword()" class="flex flex-col items-center justify-between space-y-5 w-full">
            <h2 class="text-5xl font-light font-sora text-primary">Enter Your New Password!</h2>

            <div class="w-[80%] px-4">
              <label for="password" class="block text-lg font-thin text-primary text-left mb-1">password</label>
              <input type="text" id="password" placeholder="password..." class="w-full px-4 py-2 border-[0.5px] border-[#D2C5C5] 
              rounded-[10px] text-gray-700 font-thin bg-transparent" formControlName="password">
            </div>


            <div class="w-[80%] px-4">
                <label for="password" class="block text-lg font-thin text-primary text-left mb-1">Confirm password</label>
                <input type="text" id="confirmPassword" placeholder="confirmPassword..." class="w-full px-4 py-2 border-[0.5px] border-[#D2C5C5] 
                rounded-[10px] text-gray-700 font-thin bg-transparent" formControlName="confirmPassword">
              </div>
            <button class="px-6 py-2 bg-primary text-secondary rounded-[16px] hover:bg-honey w-[75%] font-sora font-bold max-">Confirm</button>
        </form>

        <hr class=" w-[74%] border-t-[0.5px] border-[#D2C5C5]">

        <div>
            <button class="font-medium text-gray-700">
                Privacy Policy - Terms of use
            </button>
        </div>

    </div>
    <img src="/assets/left.svg" alt="2SV Bottom Left" class="absolute bottom-0 left-0 w-[150px] h-[200px]">

</div>