<div class="py-4 px-14 w-[100%] h-[100%] flex justify-between">
    <div class="w-[25%] h-full custom-border rounded-[25px] py-3 px-9 flex flex-col gap-3 bg-[#000707]">
        <h1 class="font-sora text-2xl font-semibold text-primary">Messages</h1>
        <app-discussion *ngFor="let disc of discussions; let i = index" [discussion]="disc" ></app-discussion>
    </div>
    <div class="h-full w-[70%] custom-border rounded-[25px] py-5 px-9 flex flex-col gap-5 bg-[#000707]">
        <div class="flex justify-between items-center w-full mt-5">
            <div class="flex items-center gap-4">
                <img src="/assets/lkherr.jpeg" alt="" class="w-16 h-16 rounded-full">
                <div class="flex flex-col text-primary font-sora">
                    <div class="text-2xl ">Yayba Karmi</div>
                    <div class="text-lg custom-text">@Pseudo</div>
                </div>
            </div>
            <img src="/assets/dots.svg" alt="" class="cursor-pointer">
        </div>
        <hr class="custom-hr">
        <!-- Chat messages area -->
        <div class="flex-1 overflow-y-auto p-3 space-y-3">
            <div *ngFor="let message of messages; let i = index" [class.text-right]="i % 2 === 0" [class.text-left]="i % 2 !== 0" class="message">
              <div class="inline-block max-w-[80%] rounded-lg px-4 py-2"
                   [ngClass]=" {'bg-[#3a2f18] text-white font-sora min-w-60 text-left': i % 2 === 0, 'bg-[#0D1117] text-primary font-sora min-w-60 ': i % 2 !== 0}">
                {{ message }}
              </div>
            </div>
            
        </div>
        <!-- Input field for new messages -->
        <div class="pt-4 flex relative">
            <input type="text" placeholder="Message..." class="w-full pl-4 pr-10 py-2 rounded-[25px] bg-secondary text-primary font-sora outline-none border-none" autofocus>
            <img src="/assets/paper.svg" alt="" class="absolute right-2 top-1/2 transform -translate-y-1/2 w-6 h-6 mr-3 mt-2">
        </div>
        
    </div>
</div>
