<div class="flex flex-col items-center justify-around h-screen text-center">
    <div class="flex items-center justify-center ">
      <img src="../../../assets/honey.svg" alt="Logo" class="w-[350px]">
      <!-- <h1 class="text-9xl font-normal italic text-primary">Honey</h1> -->
    </div>

    <div class="">
      <p class="text-[#776338] text-4xl font-normal w-[500px]">Bee in Love with Honey: Where Every Connection is Sweet</p>
    </div>

    <div class="w-72 p-5 border border-[#F8EEB6] shadow-2xl rounded-[25px] h-[400px] w-[610px] mb-6 
                space-y-3 flex flex-col items-center justify-around  ">
        
        <div class="flex flex-col items-center justify-between space-y-3 w-full">
            <h2 class="text-5xl font-light font-sora text-primary">Welcome!</h2>

            <div class="w-[80%] px-4">
              <label for="username" class="block text-lg font-thin text-primary text-left mb-1">Username</label>
              <input type="text" id="username" placeholder="username..." class="w-full px-4 py-2 border-[0.5px] border-[#D2C5C5] 
              rounded-[10px] text-gray-700 font-thin bg-transparent">
            </div>

            <div class="w-[80%] px-4">
              <label for="password" class="block text-lg font-thin text-primary text-left mb-1">Password</label>
              <input type="password" id="password" placeholder="password..." class="w-full px-4 py-2 border-[0.5px]
               border-[#D2C5C5] rounded-[10px] font-thin text-gray-700 bg-transparent">
            </div>

            <button class="px-6 py-2 bg-primary text-secondary rounded-[16px] hover:bg-blue-600 w-[75%] font-sora font-bold">Sign In</button>
        </div>

        <hr class=" w-[74%] border-t-[0.5px] border-[#D2C5C5]">

        <div class="flex flex-row gap-2 text-[#776338] text-sm font-thin" >
            <button class="px-1 text-[#776338]">
                Forgot Password?
            </button>
            <button class="px-1 text-[#776338]">
                -Sign Up
            </button>
        </div>

        <div>
            <button class="font-medium text-gray-700">
                Pricavy Policy - Terms of use
            </button>
        </div>
    </div>
</div>