<div class="flex flex-col gap-3">
    <div class=" flex  w-[83%]">
        <div>
            <img src="{{discussion!.sender.images[0]}}" alt="" class="w-14 h-14 rounded-full mr-3">
        </div>
        <div class="flex flex-col text-primary font-sora font-semibold">
            <p>{{discussion?.sender?.name}}</p>
            <p class="font-sora text-sm font-thin custom-text text-primary">{{discussion!.messages[discussion!.messages.length-1]}}</p>
        </div>
    </div>
    <hr class="custom-hr">
</div>

