<!-- <div class="bg-[#000707] flex ">
    <app-matche *ngFor="let user of users" [user]="user"></app-matche>
</div> -->

<div class="w-[100%] h-[100%] flex-1  pt-3 ">

    <div class="w-[98%] h-[100%] max-h-[96%] rounded-[20px] border-primary border-opacity-[0.2] border-[0.5px] bg-[#000707] py-5 px-9 flex ">
        <!-- Main content here. The max-h-[90%] ensures it doesn't exceed 90% of its parent's height -->
        <!-- <app-notification *ngFor="let  of " [notification]="notif" ></app-notification> -->
        <app-matche *ngFor="let user of users" [user]="user"></app-matche>

    </div>
</div>